@import "../../global.scss";

.browse {
	max-width: 1200px;
	margin: 20px auto;

    @media (max-width: $desktop){
        padding: 0px 10px;
    }
	.title {
		margin-bottom: 2rem;
		h2 {
            color: map-get($text, 100 );
			font-size: 2.5rem;

            @media (max-width: $mobile) {
                font-size: 2rem;
            }
		}
	}
	.browse-tags {
		.tags-title {
			color: map-get($text, 100 );
			font-size: 2rem;
            @media (max-width: $mobile) {
                font-size: 1.3rem;
            }
		}
		.tag-content {
			.tag-content-grid {
				.browse-card {
                    width: 100%;
                    height: 400px;
                    background: map-get($background, 900);
                    position: relative;

                    @media (max-width: $mobile) {
                        height: 350px;
                    }
                    
                    .card-img{
                        width: 100%;
                        height: 55%;
                        
                        @media (max-width: $mobile) {
                            height: 200px;
                        }

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .card-info{
                        h4{
                            color: map-get($text, 100 );
                            text-transform: capitalize;
                        }
                        p{
                            color: map-get($text, 200 );
                        }
                    }
                    
                    .total-count{
                        color: map-get($accent, 400 );
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 0 15px;
                    }
				}
			}
		}
	}
	.browse-brands {
		.brands-title {
            color: map-get($text, 100 );
			font-size: 2rem;
            @media (max-width: $mobile) {
                font-size: 1.3rem;
            }
		}
        .brands-div{
            margin-top: 10px;

            .brands-link{
                color: #ffffffa2;
                border-color: #363a3d;
                margin: 5px;
            }
        }
	}
}
