@import "../../global.scss";

.trending {
	width: 100%;
	margin-top: 2rem;

	.t-options {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin-bottom: 4rem;

		.t-options-title {
			display: flex;
			align-items: center;
			gap: 20px;
			font-weight: 700;
			font-size: 2rem;
			color: map-get($text, 100);
		}
		.dropdown-btn {
			background: map-get($background, 200);
			width: 120px;
			padding: 5px 10px;
			border-radius: 10px;
			text-transform: capitalize;
			font-weight: 600;
			color: map-get($text, 950);
			cursor: pointer;
			border: none;
			font-size: 1.5rem;
		}
	}
}

// .dropdown-list{

// }

.dropdown-item {
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
	color: map-get($text, 950);
}

.dropdown-item:hover {
	background: map-get($background, 400);
}

.trending-card {
	height: 400px;

    @media (max-width: $mobile) {
        height: 300px;
    }
}

.t-card-img{
    height: 80%;
}
.t-card-info{
    background: map-get($background, 200 );
    height: 20%;
    width: 100%;
    padding: 5px;
    overflow: hidden;
    
    h4{
        font-size: 1.2rem;
        @media (max-width: $mobile) {
            font-size: 1rem;
        }
    }
}