@import "../../global.scss";

.trending-card {
	width: 100%;
	// height: 400px;
	background: map-get($background, 900);
	border-radius: 10px;
	position: relative;

	// @media (max-width: $mobile) {
	// 	height: 350px;
	// }
	.card-media {
		width: 100%;
		height: 55%;

		@media (max-width: $mobile) {
			height: 200px;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}
