@import "../../global.scss";

header {
	.navbar {
		background: map-get($background, 900);
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		width: 100%;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;

		.title {
			color: map-get($text, 50);
			font-weight: 700;
		}

		.nav-links {
			display: flex;
			align-items: center;
			gap: 40px;
			color: map-get($text, 100);
			font-weight: 700;
			cursor: pointer;

			@media screen and (max-width: $tablet) {
				display: none;
			}

			.nav-options:hover {
				color: map-get($text, 200);
			}

			.searchbar {
				display: flex;
				align-items: center;
				gap: 10px;
				background: rgba(0, 61, 204, 0.8);
				padding: 5px 10px;
				border-radius: 10px;

				.search-box {
					width: 200px;
					border: none;
					outline: none;
					padding: 0 10px;
					font-size: 1.1rem;
					background: transparent;
					color: map-get($text, 50);
				}
				.search-box::placeholder {
					font-size: 1.1rem;
					color: map-get($text, 50);
				}
				div {
					width: 30px;
					height: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: map-get($text, 950);
					border-radius: 50%;
					.search-icon {
						color: map-get($text, 50);
					}
				}
			}
		}

		.nav-toggle {
			display: none;
			color: map-get($text, 50);

			.nav-toggle-icon {
				font-size: 1.8rem;
			}
			@media screen and (max-width: $tablet) {
				display: block;
			}
		}
	}
}
.nav-drawer {
	height: fit-content;

	.nav-drawer-container{
		width: 100%;
		background: map-get($background, 900);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px;

		.nav-drawer-links{
			display: flex;
			flex-direction: column;
			gap: 30px;
			color: map-get($text, 100);

			.nav-options{
				text-align: center;
				font-size: 1.4rem;
			}

			.searchbar {
				display: flex;
				align-items: center;
				gap: 10px;
				background: rgba(0, 61, 204, 0.8);
				padding: 5px 10px;
				border-radius: 10px;

				.search-box {
					width: 200px;
					border: none;
					outline: none;
					padding: 0 10px;
					font-size: 1.1rem;
					background: transparent;
					color: map-get($text, 50);
				}
				.search-box::placeholder {
					font-size: 1.1rem;
					color: map-get($text, 50);
				}
				div {
					width: 30px;
					height: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: map-get($text, 50);
					border-radius: 50%;
					.search-icon {
						color: map-get($text, 950);
					}
				}
			}
		}
	}
}
