@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
	/* Background colors */
	--background-50: #e5edff;
	--background-100: #ccdbff;
	--background-200: #99b8ff;
	--background-300: #6694ff;
	--background-400: #3370ff;
	--background-500: #004cff;
	--background-600: #003dcc;
	--background-700: #002e99;
	--background-800: #001f66;
	--background-900: #000f33;
	--background-950: #00081a;

	/* Text colors */
	--text-50: #e6ecfe;
	--text-100: #cdd9fe;
	--text-200: #9cb4fc;
	--text-300: #6a8efb;
	--text-400: #3869fa;
	--text-500: #0643f9;
	--text-600: #0536c7;
	--text-700: #042895;
	--text-800: #031b63;
	--text-900: #010d32;
	--text-950: #010719;

	/* Primary colors */
	--primary-50: #fff8e6;
	--primary-100: #fef1cd;
	--primary-200: #fde39b;
	--primary-300: #fdd568;
	--primary-400: #fcc736;
	--primary-500: #fbb904;
	--primary-600: #c99403;
	--primary-700: #976f02;
	--primary-800: #644a02;
	--primary-900: #322501;
	--primary-950: #191300;

	/* Secondary colors */
	--secondary-50: #f9fee6;
	--secondary-100: #f2fdce;
	--secondary-200: #e6fc9c;
	--secondary-300: #d9fa6b;
	--secondary-400: #ccf939;
	--secondary-500: #bff708;
	--secondary-600: #99c606;
	--secondary-700: #739405;
	--secondary-800: #4d6303;
	--secondary-900: #263102;
	--secondary-950: #131901;

	/* Accent colors */
	--accent-50: #feece6;
	--accent-100: #fed8cd;
	--accent-200: #fdb29b;
	--accent-300: #fc8b69;
	--accent-400: #fb6537;
	--accent-500: #fa3e05;
	--accent-600: #c83204;
	--accent-700: #962503;
	--accent-800: #641902;
	--accent-900: #320c01;
	--accent-950: #190601;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

a {
	text-decoration: none;
	color: inherit;
}

.allTransition {
	transition: all 200ms ease-in-out;
}

body {
	background-color: var(--background-950);
	color: var(--text-100);
	font-family: 'Nunito', sans-serif;
	--webkit-scrollbar: none;
		scroll-behavior: smooth;
}

header {
	width: 100%;
	height: 60px;
	background-color: var(--background-800);
}

header nav {
	width: 100%;
	height: 100%;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav h3 {
	font-size: 1.8rem;
	font-weight: 900;
}

header nav .links a:hover {
	opacity: .7;
}

header nav .links div input[type="text"] {
	background: transparent;
	border: 1px solid var(--text-100);
	border-radius: 5px;
	width: 200px;
	height: 30px;
	color: var(--text-100);
	padding: 0 5px;
}

header nav .links div input[type="text"]::placeholder {
	color: inherit;
	font-weight: 600;
}

header nav .links div input[type="text"]:focus {
	border: 2px solid var(--text-100);
	outline: var(--text-100);
}

.mobile-nav {
	top: -100%;
	display: none;
	background: rgba(0, 31, 102, 0.9);
	transition: top 0.3s ease-in-out;
}

.mobile-nav.active {
	top: 0;
	display: block;
}

/** Trending Page */
.trending .tools {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
}

.trending .tools h1 {
	color: var(--text-50);
}

.trending .tools h1 span {
	text-transform: capitalize;
}

.trending .tools .list-of-tools {
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trending .tools .list-of-tools a {
	background: var(--background-600);
	color: var(--text-50);
	font-weight: 600;
	padding: 10px 20px;
	border-radius: 10px;
}

.browse .tools .title h4 {
	color: var(--text-50);
}

.browse .browse-container .t-card .t-info {
	background: linear-gradient(to left, rgba(126, 126, 126, 0.8), transparent);
}
.browse .browse-container .t-card .t-info .title {
	color: var(--text-50);
}

.browse .browse-container .t-card .t-info .desc {
	color: var(--text-100);
}

.browse .browse-container .t-card .t-info .count {
	background: var(--accent-700);
	color: var(--text-100);
	font-weight: 800;
}