<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <title>HanaFlix</title>
    <script src="https://kit.fontawesome.com/a8893920d4.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <nav>
            <h3 class="text-2xl md:text-3xl hover:opacity-80 cursor-pointer allTransition">
                <a href="/">
                    HanaFlix
                </a>
            </h3>
            <div class="links hidden md:flex items-center gap-5 font-semi-bold">
                <a class="allTransition" href="{{ url_for('trending', time='daily', page=0) }}">Trending</a>
                <a class="allTransition" href="{{ url_for('browse') }}">Browse</a>
                <a class="allTransition" href="{{ url_for('images', tag='meta') }}">Images</a>
                <div>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="mobile-toggle block text-2xl md:hidden">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>
    </header>
    <div class="mobile-nav absolute top-[60px] left-0 right-0 w-full h-[250px]">
        <div class="flex flex-col gap-8 mt-4 items-center justify-center">
            <a class="allTransition text-xl font-semibold"
                href="{{ url_for('trending', time='daily', page=0) }}">Trending</a>
            <a class="allTransition text-xl font-semibold" href="{{ url_for('browse') }}">Browse</a>
            <a class="allTransition text-xl font-semibold" href="{{ url_for('images', tag='meta') }}">Images</a>
            <div>
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>