<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HanaFlix</title>
    <script src="https://kit.fontawesome.com/a8893920d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <header>
        <nav>
            <h3>HanaFlix</h3>
            <div class="links">
                <a class="allTransition" href="/about">Trending</a>
                <a class="allTransition" href="/contact">Browse</a>
                <a class="allTransition" href="/login">Images</a>
                <div>
                    <input type="text" placeholder="Search">
                </div>
            </div>
        </nav>
    </header>
</body>

</html>