{% include "base.html" %}
<div class="browse">
    <div class="tools max-w-[1200px] mx-auto my-11">
        <div class="title">
            <h4 class="text-3xl md:text-5xl font-extrabold ml-2 sm:ml-4">Browse Anime</h4>
        </div>
    </div>
    <div
        class="browse-container w-[95%] lg:max-w-[1500px] mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-3 sm:gap-11">
        {% for i in datagg %}
        <div class="t-card w-full h-[200px] sm:h-[350px] md:w-[250px] md:h-[400px] rounded-md relative">
            <a href="{{url_for('watch', slug='lol')}}">
                <!-- <div class="img h-full w-full">
                    <img class="w-full h-full object-cover rounded-lg"
                        src="https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/nx21-tXMN3Y20PIL9.jpg"
                        alt="">
                </div> -->
                <div class="img h-full w-full">
                    <img class="block sm:hidden w-full h-full object-cover rounded-lg" src='{{i["wide_image_url"]}}'
                        alt="">
                    <img class="hidden sm:block w-full h-full object-cover rounded-lg" src='{{i["tall_image_url"]}}'
                        alt="">
                </div>
                <div
                    class="t-info left-0 right-0 bottom-0 absolute w-full h-full sm:w-full sm:h-fit overflow-hidden mt-3 rounded-l-md sm:rounded-b-md p-2">
                    <h4 class="title text-xl font-bold mb-2">{{i["text"]}}</h4>
                    <p class="desc font-semi-bold mb-2">{{i["description"]}}</p>
                    <!-- <p class="desc font-semi-bold mb-2">Gold Roger was known as the Pirate King, the strongest and most
                        infamous
                        being
                        to have sailed the
                        Grand Line.</p> -->
                    <div class="count py-1 px-3 rounded-lg w-fit h-fit text-center">
                        <span>{{i["count"]}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>