{% include "base.html" %}
<div class="images">
    <div class="tools max-w-[1200px] mx-auto my-11">
        <div class="title">
            <h4 class="text-3xl md:text-5xl font-extrabold ml-2 sm:ml-4">Browse Images</h4>
        </div>
    </div>
    <div
        class="images-container w-[95%] lg:max-w-[1500px] mx-auto grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3 sm:gap-11">
        {% for i in data["data"] %}
        <div class="i-card bg-red-500 w-full h-[250px]">
            <!-- <img class="w-full h-full object-contain" src="{{i['canonical_url']}}" alt=""> -->
        </div>
        {% endfor %}

    </div>
</div>