{% include "base.html" %}
<div class="watchPage max-w-[1000px] mx-auto mt-2 rounded-lg">
    <div class="watchVideo mb-6">
        <div class="video w-full h-[400px] bg-red-700 rounded-lg"></div>
    </div>
    <div class="hero flex gap-3 w-full">
        <div class="left">
            <div class="w-[260px] h-[350px] bg-red-400 rounded-lg">
                <!-- <img src="{{data['hentai_video']['cover_url']}}" alt=""> -->
            </div>
        </div>
        <div class="right">
            <div class="title text-3xl">{{data['hentai_video']['name']}}</div>
            <div class="desc text-xl font-semibold">{{data['hentai_video']['description']|safe}}</div>
        </div>
    </div>
</div>